<script type="application/javascript">


        //保存服务器列表
    function save() {

        var data = {
            //servers的类型必须是一个array
            //形参server则是servers中遍历的每个变量
            //map返回的是一个array
            servers: $("input[name='server']").toArray().map(function (server) {
                return {
                    id: server.id,
                    ip: server.value,
                    monitorStatus: server.checked ? 'Y' : 'N',
                    status: '1'
                };
            })
        };

        var saveSelectServers = $.ajax({
            url: 'servers',
            type: 'post',
            async: 'false',
            //传过去的value是一个序列化的文本
            data: {data : JSON.stringify(data)}
        });
    }

    //页面加载显示现有的服务器选项111
    $(document).ready(function () {
        var servers = $.ajax({
            url: 'servers',
            type: 'get',
            async: 'false',
            success: function (data) {
                for (var i in data.servers) {
                    var server = data.servers[i];

                    var tr = document.createElement('tr');
                    var td = document.createElement('td');
                    var input = document.createElement('input');
                    input.setAttribute('type', 'text');
                    input.setAttribute('class', 'form-control');
                    input.setAttribute('name', 'server');
                    input.setAttribute('id', server.id);
                    input.setAttribute('value', server.ip);

                    td.appendChild(input);
                    tr.appendChild(td);
                    $('#tbody')[0].appendChild(tr);
                }
            }
        })
    })
</script>
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="configServersLabel">配置服务器</h4>
</div>
<div class="modal-body" id="serverCheckbox">
    <table class="table table-condensed" id="table">
        <tbody id="tbody">
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <!--TODO 全选和全不选,做到一个按钮里去-->
    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="save()">确定</button>
</div>