<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <!-- 可选的Bootstrap主题文件（一般不用引入） -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link type="text/css" href="../static/css/jquery-ui-1.8.17.custom.css" rel="stylesheet"/>
    <link type="text/css" href="../static/css/jquery-ui-timepicker-addon.css" rel="stylesheet"/>
    <script type="text/javascript" src="../static/js/jquery-ui-1.8.17.custom.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery-ui-timepicker-addon.js"></script>
    <script type="text/javascript" src="../static/js/jquery-ui-timepicker-zh-CN.js"></script>
    <script src="http://cdn.hcharts.cn/highcharts/highcharts.js"></script>

    <script type="text/javascript">
        /*选择服务器,发送给后台请求,然后生成数据*/
        $(document).ready(function () {
            $('#selectServers').on('show.bs.modal', function (event) {
                var modal = $(this)
                var aj = $.ajax({
                    url: 'selectServers',
                    type: 'GET',
                    cache: false,
                    async: false,
                    success: function (data) {
                        modal.find('#selectserversDiv').html(data)
                    },
                    error: function () {
                        alert('error')
                    }
                });
            });
        });
        /*End*/

        $(document).ready(function () {
            $('#configServers').on('show.bs.modal', function (event) {
                var modal = $(this)
                var aj = $.ajax({
                    url: 'configServers',
                    type: 'GET',
                    cache: false,
                    async: false,
                    success: function (data) {
                        modal.find('#configServersDiv').html(data)
                    },
                    error: function () {
                        alert('error')
                    }
                });
            });
        });

    </script>

</head>
<body>
<div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>服务器监控平台</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#selectServers">选择服务器
                </button>
            </td>
            <td>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#configServers">配置服务器
                </button>
            </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>
                <button type="button" class="btn btn-primary">选择VMSTAT监控参数</button>
            </td>
            <td>
                <button type="button" class="btn btn-primary">选择SAR监控参数</button>
            </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td><input type="button" class="btn btn-primary" value="查看数据" onclick="createTable()"></td>
            <td><input type="button" id="monitor" class="btn btn-primary" value="监 控" onclick="monitor()"></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>

<!--Pgpgin Pgpgout Collapse-->
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <!--这段代码可以通过后台的模板来产生,然后发送给前台-->
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true"
                   aria-controls="collapseOne">
                    Pgpgin/s & Pgpgout/s
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body" id="pgpg">

            </div>
        </div>
    </div>
</div>
<!--End-->

<!--定义了需要展示数据的DIV-->
<div id="pgpg1" style="min-width: 800px;height: 400px"></div>
<div id="faultAndMajflt" style="min-width: 800px;height: 400px"></div>
<div id="pgfree" style="min-width: 800px;height: 400px"></div>
<div id="pgscankAndPgscandAndPgsteal" style="min-width: 800px;height: 400px"></div>
<div id="vmeff" style="min-width: 800px;height: 400px"></div>
<!--End-->

<!--弹出选择服务器的浮层的代码 -->
<div class="modal fade" id="selectServers" tabindex="-1" role="dialog" aria-labelledby="selectServersLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="selectserversDiv">
        </div>
    </div>
</div>

<!--弹出配置服务器的浮层的代码 -->
<div class="modal fade" id="configServers" tabindex="-1" role="dialog" aria-labelledby="configServersLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="configServersDiv">
        </div>
    </div>
</div>

</body>
</html>